# --- إضافة بروتوكول جديد (مع رفع الصورة) ---
@app.route('/admin/add', methods=['GET', 'POST'])
@admin_required
def add_protocol():
    if request.method == 'POST':
        # معالجة الصورة
        image_data = ""
        if 'electrode_image' in request.files:
            file = request.files['electrode_image']
            if file.filename != '':
                # تحويل الصورة إلى نص وتخزينها
                encoded_string = base64.b64encode(file.read()).decode('utf-8')
                image_data = f"data:image/jpeg;base64,{encoded_string}"

        p = Protocol(
            disease_name=request.form['disease_name'],
            keywords=request.form['keywords'],
            description=request.form['description'],
            estim_type=request.form['estim_type'],
            estim_params=request.form['estim_params'],
            estim_role=request.form['estim_role'],
            us_type=request.form['us_type'],
            us_params=request.form['us_params'],
            us_role=request.form['us_role'],
            exercises_list=request.form['exercises_list'],
            exercises_role=request.form['exercises_role'],
            source_ref=request.form['source_ref'],
            electrode_image=image_data # هنا بنحط كود الصورة
        )
        db.session.add(p)
        db.session.commit()
        flash('Protocol & Image Added Successfully!', 'success')
        return redirect(url_for('admin_dashboard'))
    return render_template('add_protocol.html')
