# --- تعديل بروتوكول (مع تحديث الصورة) ---
@app.route('/admin/edit/<int:id>', methods=['GET', 'POST'])
@admin_required
def edit_protocol(id):
    p = Protocol.query.get_or_404(id)
    if request.method == 'POST':
        p.disease_name = request.form['disease_name']
        p.keywords = request.form['keywords']
        p.description = request.form['description']
        p.estim_type = request.form['estim_type']
        p.estim_params = request.form['estim_params']
        p.estim_role = request.form['estim_role']
        p.us_type = request.form['us_type']
        p.us_params = request.form['us_params']
        p.us_role = request.form['us_role']
        p.exercises_list = request.form['exercises_list']
        p.exercises_role = request.form['exercises_role']
        p.source_ref = request.form['source_ref']

        # تحديث الصورة فقط لو الأدمن رفع صورة جديدة
        if 'electrode_image' in request.files:
            file = request.files['electrode_image']
            if file.filename != '':
                encoded_string = base64.b64encode(file.read()).decode('utf-8')
                p.electrode_image = f"data:image/jpeg;base64,{encoded_string}"

        db.session.commit()
        flash('Protocol Updated!', 'success')
        return redirect(url_for('admin_dashboard'))
    return render_template('edit_protocol.html', protocol=p)
